# 常用的 DataFrame 操作
* merge / transform
* subset
* groupby

# [作業目標]
- 練習填入對應的欄位資料或公式, 完成題目的要求

# [作業重點]
- 填入適當的輸入資料, 讓後面的程式顯示題目要求的結果 (Hint: 填入對應區間或欄位即可, In[4]~In[6], Out[4]~In[6])
- 填入z轉換的計算方式, 完成轉換後的數值 (Hint: 參照標準化公式, In[7])

In [1]:
# Import 需要的套件
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
# 設定 data_path
dir_data = './data/'

In [3]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)
app_train.head()

Path of read in data: ./data/application_train.csv

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

## 作業
1. 請將 app_train 中的 CNT_CHILDREN 依照下列規則分為四組，並將其結果在原本的 dataframe 命名為 CNT_CHILDREN_GROUP
    * 0 個小孩
    * 有 1 - 2 個小孩
    * 有 3 - 5 個小孩
    * 有超過 5 個小孩

2. 請根據 CNT_CHILDREN_GROUP 以及 TARGET，列出各組的平均 AMT_INCOME_TOTAL，並繪製 baxplot
3. 請根據 CNT_CHILDREN_GROUP 以及 TARGET，對 AMT_INCOME_TOTAL 計算 [Z 轉換](https://en.wikipedia.org/wiki/Standard_score) 後的分數

In [19]:
#1
"""
Your code here
"""
cut_rule = [-1, 0, 2, 5, app_train['CNT_CHILDREN'].max()]
#print(app_train['CNT_CHILDREN'].head())
app_train['CNT_CHILDREN_GROUP'] = pd.cut(app_train['CNT_CHILDREN'].values, cut_rule, include_lowest=True)
app_train['CNT_CHILDREN_GROUP'].value_counts()
#print(app_train['CNT_CHILDREN_GROUP'].head())

(-1.001, 0.0]    215371
(0.0, 2.0]        87868
(2.0, 5.0]         4230
(5.0, 19.0]          42
Name: CNT_CHILDREN_GROUP, dtype: int64

In [16]:
np.random.randn(10, 4).shape

(10, 4)

In [26]:
#2-1
"""
Your code here
"""
grp = ['CNT_CHILDREN_GROUP']

grouped_df = app_train.groupby(grp)['AMT_INCOME_TOTAL']
#grouped_df = app_train.groupby(grp)
#grouped_df.head()
grouped_df.mean()

CNT_CHILDREN_GROUP
(-1.001, 0.0]    166288.713566
(0.0, 2.0]       174725.712648
(2.0, 5.0]       173626.303191
(5.0, 19.0]      147910.714286
Name: AMT_INCOME_TOTAL, dtype: float64

In [31]:
grouped_dftest = app_train.groupby(grp)
grouped_dftest.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,CNT_CHILDREN_GROUP
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,"(-1.001, 0.0]"
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"(-1.001, 0.0]"
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"(-1.001, 0.0]"
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,"(-1.001, 0.0]"
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"(-1.001, 0.0]"
6,100009,0,Cash loans,F,Y,Y,1,171000.0,1560726.0,41301.0,...,0,0,0,0.0,0.0,0.0,1.0,1.0,2.0,"(0.0, 2.0]"
10,100014,0,Cash loans,F,N,Y,1,112500.0,652500.0,21177.0,...,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0,"(0.0, 2.0]"
13,100017,0,Cash loans,M,Y,N,1,225000.0,918468.0,28966.5,...,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,"(0.0, 2.0]"
17,100021,0,Revolving loans,F,N,Y,1,81000.0,270000.0,13500.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,"(0.0, 2.0]"
19,100023,0,Cash loans,F,N,Y,1,90000.0,544491.0,17563.5,...,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0,"(0.0, 2.0]"
91,100108,0,Cash loans,F,N,Y,3,171000.0,545040.0,31288.5,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"(2.0, 5.0]"
92,100110,0,Cash loans,M,Y,Y,3,135000.0,373140.0,25065.0,...,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0,"(2.0, 5.0]"
144,100166,0,Cash loans,F,N,Y,3,58500.0,152820.0,15241.5,...,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0,"(2.0, 5.0]"
180,100209,1,Revolving loans,M,N,Y,3,180000.0,540000.0,27000.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0,"(2.0, 5.0]"
182,100211,0,Cash loans,M,N,N,3,225000.0,746280.0,49873.5,...,0,0,0,0.0,0.0,0.0,0.0,0.0,6.0,"(2.0, 5.0]"
3079,103596,0,Cash loans,M,N,Y,7,85500.0,411813.0,17577.0,...,0,0,0,0.0,0.0,0.0,1.0,1.0,1.0,"(5.0, 19.0]"
7204,108386,0,Cash loans,M,N,N,6,157500.0,566055.0,16551.0,...,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0,"(5.0, 19.0]"
12615,114709,0,Cash loans,M,Y,N,8,112500.0,755190.0,29947.5,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"(5.0, 19.0]"
17516,120426,0,Cash loans,M,Y,Y,6,315000.0,696150.0,29623.5,...,0,0,0,0.0,0.0,0.0,1.0,0.0,2.0,"(5.0, 19.0]"
23881,127782,1,Cash loans,F,N,N,9,180000.0,640080.0,31131.0,...,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0,"(5.0, 19.0]"

In [28]:
newpd = app_train.pivot('CNT_CHILDREN_GROUP','AMT_INCOME_TOTAL')
newpd

ValueError: Index contains duplicate entries, cannot reshape

In [27]:
#2-2
"""
Your code here
"""
plt_column = []
for name in app_train['CNT_CHILDREN_GROUP'].unique():
    plt_column.append(str(name)) 
print(plt_column)
plt_by = grouped_df.mean()

app_train.boxplot(column=plt_column, by = plt_by, showfliers = False, figsize=(12,12))
plt.suptitle('Num of Chile v.s. Income')
plt.show()

['(-1.001, 0.0]', '(0.0, 2.0]', '(2.0, 5.0]', '(5.0, 19.0]']

TypeError: Unexpected keyword arguments {'closed'}

In [ ]:
#3
"""
Your code here
"""
app_train['AMT_INCOME_TOTAL_Z_BY_CHILDREN_GRP-TARGET'] = grouped_df.apply(lambda x: )

app_train[['AMT_INCOME_TOTAL','AMT_INCOME_TOTAL_Z_BY_CHILDREN_GRP-TARGET']].head()